/* all comments are above their code */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* styling rulus for everything in the body that isn't specified otherwise */

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* styling rule for the header and everything within */

.header {
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* rule for h1 contents */

.header h1 {
  display: inline-block;
  font-size: 45px;
  color: white;
  text-shadow: 1px 1px 2px blue;
}

/* styling rule for h2 contents */

.header h2 {
  display: block;
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px 2px blue;
}

/* placement rules for content in header */

.header div {
  padding-top: 5px;
  margin-right: 35px;
  float: right;
}

/* font size for links in header */

.header div ul {
  font-size: 35px;
  list-style-type: none;
}

/* link placement rule so they are side by side */

.header div ul li {
  display: inline-block;
  margin-left: 15px;
}

/* styling rule for all he's. main headers for evything within body */

h2 {
  font-weight: bold;
  font-size: 35px;
  text-shadow: 1px 1px 2px blue;
}

/* font style for links */

a {
  color: white;
  text-shadow: 1px 1px 2px blue;
}

/* spacing for paragraphs to keep away from the side */

p {
  margin-left: 15px;
}

/* styling rule for text in about me paragraph */

.about-me p {
  display: table-row;
  height: 150px;
  width: 400px;
  margin-left: 300px;
  font-size: 20px;
}

/* styoing rule for text in projects paragraph */

.projects p {
  display: flex;
  height: 75px;
  margin-left: 25px;
  font-size: 20px;
}

/* keeping text away from touching the browser */

.about-me {
  margin-left: 50px;
}

/* keeping text away from touching the browser */

.projects {
  margin-left: 25px;
}

/* indent for content within linked header */

#about-me {
  margin: 25px;
}

/* indent for content within linked header */

#projects {
  margin: 25px;
}

/* spacing for content in linked header in footer */

#contact-me {
  margin: 20px 0 20px 0;
}

/* rule for portrait picture */

div .about-me img {
  position: left;
  margin-bottom: 25px;
  max-width: 100%;
  height: 435px;
  border: 1px solid black;
}

/* display rule for first and biggest linked image */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  width: 50%;
}

/* display rules for spacing between images */

.undercenter {
  display: inline;
  justify-content: space-evenly;
  margin-left: 320px;
  height: 50%;
  width: 25%;
}

/* display rules for images under main linked image */

.undercenter img {
  width: 500px;
  height: 310px;
  margin: 10px;
}

/* styling rules for content inside footer */

.footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  text-align: center;
}

/* display rule for contact me header */

.footer h2 {
  display: inline-block;
  font-size: 40px;
}

/* display rule for links in footer navigation */

.navigation-2 div {
  text-align: center;
}

/* display rule for listed links inside footer */

.navigation-2 div ul {
  text-align: center;
  display: inline-block;
}

/* spacing rule for link in footer */

.navigation-2 ul li {
  margin-bottom: 30px;
}

/* for desktop viewing */

@media screen and (max-width: 996px) {
  body,
  .header,
  a {
    background-color: teal;
  }
}

/* for screens smaller than a desktop (laptops, tablets, mobile) */

@media screen and (max-width: 600px) {
  body,
  .header,
  a {
    background-color: tan;
  }
}
